#scelta {
    display: flex;
}
#classico {
    flex: 1;
}
#libero {
    flex: 1;
}
body {
    background-image: url("../immagini/login.jpg");
    background-repeat: no-repeat; /* Evita la ripetizione dell'immagine */
    background-position: center; 
}
h1 {
    color: red;
}